Source: yq-go
Maintainer: Conner Crosby <cavcrosby@gmail.com>
Section: utils
Priority: optional
Build-Depends: debhelper (>=13), debhelper-compat (= 13), golang-1.23-go, pandoc
Standards-Version: 4.6.0.1
Homepage: https://github.com/mikefarah/yq.git

Package: yq-go
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: lightweight and portable command-line file processor
 yq is a lightweight and portable command-line "file" processor. yq uses jq like
 syntax but works with YAML files as well as JSON, XML, INI, properties, CSV
 and TSV. It doesn't yet support everything jq does - but it does support the
 most common operations and functions, and more is being added continuously.
