#!/usr/bin/make -f

export GOCACHE = ${CURDIR}/build/gocache
export PATH := /usr/local/go/bin:${PATH}

%:
	dh $@

override_dh_auto_build:
	CGO_ENABLED=0 go build -mod=vendor -ldflags "-s -w"
	./scripts/generate-man-page-md.sh
	./scripts/generate-man-page.sh

override_dh_auto_install:
	mkdir --parents "./debian/yq-go/usr/bin"
	cp "./yq" "./debian/yq-go/usr/bin"
	chmod "+x" "./debian/yq-go/usr/bin/yq"

	mkdir --parents "./debian/share/yq"
	cp "./LICENSE" "./debian/share/yq"

	mkdir --parents "./debian/yq-go/usr/share/man/man1"
	cp "./yq.1" "./debian/yq-go/usr/share/man/man1"

override_dh_auto_test:
	go test -v ./...
